<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mauliamahardika.cobalogindenganxampp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@drawable/admin"
        android:label="@string/nama_aplikasi"
        android:roundIcon="@drawable/admin"
        android:supportsRtl="true"
        android:theme="@style/gaadabar"
        android:usesCleartextTraffic="true">
        <activity android:name=".kontenmonitoring.Tentang"></activity>
        <activity android:name=".kontenmonitoring.VolumeAir" />
        <activity android:name=".kontenmonitoring.SuhuAir" />
        <activity android:name=".kontenmonitoring.Nutrisi" />
        <activity android:name=".kontenmonitoring.Kelembapan" />
        <activity android:name=".kontenmonitoring.SuhuUdara" />
        <activity
            android:name=".masatanam.IsiMasaTanam"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".kontenmonitoring.MasaTanam" />
        <activity android:name=".IndexMenu" />
        <activity
            android:name=".registrasi"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>